
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
}

.container {
    max-width: 900px;
}

.bg-white {
    border: 1px solid #dee2e6;
}

.rounded {
    border-radius: 0.5rem !important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

h2,
h3 {
    color: #007bff;
    font-weight: 600;
}

.form-label {
    font-weight: 500;
    color: #495057;
}

.form-control {
    border-radius: 0.25rem;
    border-color: #ced4da;
    padding: 0.75rem 1rem;
    font-size: 1rem;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 600;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    transform: translateY(-2px);
}

#limpar {
    background-color: #6c757d;
    border-color: #6c757d;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 600;
    margin-left: 10px;
}

#limpar:hover {
    background-color: #5a6268;
    border-color: #545b62;
    transform: translateY(-2px);
}